@model IEnumerable<TreeOfLifeDB.Models.Cause>

@{
    ViewBag.Title = "Index";
}

<h2>Causes</h2>

<div class="row">
    <div class="col-md-2">
        <p><a class="btn btn-primary btn-large" href="~/Donation/Create">New Donation &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-primary btn-large" href="~/Withdrawel/Create">New Withdrawel &raquo;</a></p>
    </div>
</div>

@using (Html.BeginForm())
{
    <p>
        Search Causes: @Html.TextBox("SearchString")
        <input class="btn-primary" type="submit" value="Search" />
    </p>
}

<p>
    @Html.ActionLink("Create New Cause", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goal)
        </th>
        <th>
            Total Donations
        </th>
        <th>
            Withdrawels
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TolAccountID)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Goal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donations.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Withdrawels.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TolAccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TolAccountID })
            <!--@Html.ActionLink("Delete", "Delete", new { id=item.TolAccountID })-->
        </td>
    </tr>
}

</table>
