@model IEnumerable<TreeOfLifeDB.Models.Withdrawel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-2">
        <p><a class="btn btn-primary btn-large" href="~/Cause/Create">New Cause &raquo;</a></p>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">

        <div class="form-inline">
            <p>
                Search Events: @Html.TextBox("SearchString")
                <input class="btn-primary" type="submit" value="Search" />
                <a class="btn btn-sm" href="~/Withdrawel/Index">View All &raquo;</a>
            </p>
        </div>
    </div>
}

<h2>
    @Html.ActionLink("Create New Withdrawal", "Create")
</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            Cause
        </th>
        <th>
            Cause ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date, "{0:MM/dd/yyyy}")
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cause.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.causeID)
        </td>
        <td>
            <!--@Html.ActionLink("Edit", "Edit", new { id=item.TransactionID }) |-->
            @Html.ActionLink("Details", "Details", new { id=item.TransactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionID })
        </td>
    </tr>
}

</table>
