@model TreeOfLifeDB.Models.Donation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="row">
    <div class="col-md-2">
        <p><a class="btn btn-primary btn-large" href="~/Donor/Create">New Donor &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-primary btn-large" href="~/Cause/Create">New Cause &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-primary btn-large" href="~/Event/Create">New Event &raquo;</a></p>
    </div>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Donation</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2" for="DonorID">Donor</label>
            <div class="col-md-10">
                @Html.DropDownList("DonorID", "Select A Donor...")
                @Html.ValidationMessageFor(model => model.donorID)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CauseID">Cause</label>
            <div class="col-md-10">
                @Html.DropDownList("CauseID", "Select A Cause...")
                @Html.ValidationMessageFor(model => model.causeID)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="EventID">Event</label>
            <div class="col-md-10">
                @Html.DropDownList("EventID", "Select An Event...")
                @Html.ValidationMessageFor(model => model.eventID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaxDeductableAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaxDeductableAmount)
                @Html.ValidationMessageFor(model => model.TaxDeductableAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
