@model TreeOfLifeDB.Models.Donation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.causeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.causeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxDeductableAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxDeductableAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
