@model IEnumerable<TreeOfLifeDB.Models.Donation>

@{
    ViewBag.Title = "Donations";
}

<h2>Donations</h2>

@using (Html.BeginForm())
{
    <div class="row">

        <div class="form-inline">
            <p>
                Search Donations: @Html.TextBox("SearchString")
                <input class="btn-primary" type="submit" value="Search" />
                <a class="btn btn-sm" href="~/Donation/Index">View All &raquo;</a>
            </p>
        </div>
    </div>
}

<h2>
    @Html.ActionLink("Create New Donation", "Create")
</h2>



<table class="table">
    <tr>      
        <th>
            Donor
        </th>
        <th>
            Donor ID
        </th>
        <th>
            Cause
        </th>
        <th>
            Event
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxDeductableAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.donationDonor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donationCause.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donationEvent.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date, "{0:MM/dd/yyyy}")
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.TaxDeductableAmount)
        </td>
        <td>
            <!--@Html.ActionLink("Edit", "Edit", new { id=item.TransactionID }) |-->
            @Html.ActionLink("Details", "Details", new { id=item.TransactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionID })
        </td>
    </tr>
}

</table>
