@model IEnumerable<TreeOfLifeDB.Models.Donation>

@{
    ViewBag.Title = "Donations";
}

<h2>Donations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Select Department: @Html.DropDownList("SelectedDonor", "All")
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donationDonor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donationCause.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donationEvent.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxDeductableAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donationDonor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donationCause.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donationEvent.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxDeductableAmount)
        </td>
        <td>
            <!--@Html.ActionLink("Edit", "Edit", new { id=item.TransactionID }) |-->
            @Html.ActionLink("Details", "Details", new { id=item.TransactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionID })
        </td>
    </tr>
}

</table>
